<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>성공페이지</title>
</head>
<body>
  <h1>회원 정보</h1>
  <table border="1" style="border-collapse: collapse;">
    <thead>
      <tr>
        <th>회원 번호</th>
        <th>회원 아이디</th>
        <th>회원 이름</th>
        <th>회원 나이</th>
      </tr>
    </thead>

    <tbody>
      <tr th:each=" user : ${userList}">
        <td th:text="${user.userNo}"></td>
        <td th:text="${user.userId}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.userAge}"></td>
      </tr>
    </tbody>

  </table>
  
</body>
</html>